{% extends 'parts/genbase.html' %}
{% block content %}
{% load static %}
    <!-- Features Section Begin -->
    <section class="features-section spad">    
        <div class="features-ads">    
            <div class="container">
                <div class="section-title">
                    <h2>
                        Categorys..
                        <a href="{% url 'product_page'%}">
                            <h1> All Categorys </h1>
                        </a>
    
                    </h2>
                </div>    
                <div class="row">

                    {% for x in cate %}                   
                        <div class="col-lg-4">                        
                            <div class="single-features-ads first">
                                <img src="{{x.images.url}}" alt="">
                                <h4> <a href="{% url 'product_page'%}?q={{x.Name}}">{{x.Name}}</a></h4>
                                <!-- <p>{{x.descreption}} </p> -->
                            </div>                       
                        </div>                                    
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Features Box -->
    </section>
    <!-- Features Section End -->

    <!-- Latest Product Begin -->
    <section class="latest-products spad">
        <div class="container">
            <div class="product-filter">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="section-title">
                            <h2>lists Products</h2>
                        </div>             
                        <div class="row" id="Berand">              
                    </div>
                </div>
            </div>
            <div class="row" id="product-list">
                {% for pro in proSet %}
                <div class="col-lg-3 col-sm-6 mix all dresses bags">
                    <div class="single-product-item">
                        <figure>
                            <a href="{% url 'product' pro.id %}"><img src="{{pro.images.url}}" alt=""></a>
                            <div class="p-status">new</div>
                        </figure>
                        <div class="product-text">
                            <h6>{{pro.Name}}</h6>
                            <p>{{pro.Price}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Latest Product End -->



{% endblock content %}
